/DfGood/DfGood/obj
/DfGood/DfGood/bin
/DfGood/DfGoodAPI/obj
/DfGood/DfGoodBusniess/obj
/DfGood/DfGoodCommon/obj
/DfGood/DfGoodDAL/obj
/DfGood/DfGoodService/obj
/DfGood/.vs
/DfGood/PTSL.DfGood.Api/bin
/DfGood/PTSL.DfGood.Api/obj
/DfGood/PTSL.DfGood.Business/obj
/DfGood/PTSL.DfGood.Business/bin
/DfGood/PTSL.DfGood.Service/obj
/DfGood/PTSL.DfGood.Service/bin
/DfGood/PTSL.DfGood.DAL/obj
/DfGood/PTSL.DfGood.DAL/bin
/DfGood/PTSL.DfGood.Common/obj
/DfGood/PTSL.DfGood.Common/bin
/DfGood/PTSL.DfGood.Web/obj
/DfGood/PTSL.DfGood.Web/bin
/DfGood/PTSL.DfGood.DAL
/.vs/DgFood/v16/Server/sqlite3/db.lock
/PTSL.DfGood.Web/bin
/PTSL.DfGood.Web/obj
/PTSL.DgFood.Business/bin
/PTSL.DgFood.Business/obj
/PTSL.DgFood.Common/obj
/PTSL.DgFood.Common/bin
/PTSL.DgFood.DAL/bin
/PTSL.DgFood.DAL/obj
/PTSL.DgFood.Service/bin
/PTSL.DgFood.Service/obj
/DgFood/bin
/DgFood/obj
/.vs/DgFood/v16/*.suo
/PTSL.DgFood.Web/obj
/PTSL.DgFood.Web/bin
/PTSL.DgFood.Web.Tests/obj
/PTSL.DgFood.Web.Tests/bin
/.vs
/.dll

/PTSL.BdArmy.Web/obj
/PTSL.BdArmy.Web/bin
/PTSL.DgFood.Procedure/obj
/PTSL.DgFood.Procedure/bin
/EnglishAndBanglaFeildValidation/obj
/EnglishAndBanglaFeildValidation/bin


*.dll
*.pdb

.idea/.idea.DgFood
.idea
/PTSL.DgFood.Web/Content/DisciplinaryActionsAndCriminalProsecution/0
/DgFood/Properties/PublishProfiles/FolderProfile.pubxml.user
/PTSL.DgFood.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
/PTSL.DgFood.Web/Content/TrainingCertificate
