@model PTSL.DgFood.Web.Model.DivisionVM
@{
    ViewBag.Title = "Create";
    var Message = ViewBag.Message;
}


<div class="card">
    <div class="card-header">
        <h4>Create New Division</h4>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Create", "Division", FormMethod.Post, new { id = "divisionForm" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputDivision">Division Name <span style="color:red;">*</span></label>
                    <input type="text" class="form-control col-md-6" id="DivisionName" name="DivisionName" value="@Model.DivisionName" placeholder="Enter Division Name" required>
                </div>
                <div class="form-group">
                    <label for="inputDivisionBangla">Division Name Bangla <span style="color:red;"></span></label>
                    <input type="text" class="form-control col-md-6" id="DivisionNameBangla" name="DivisionNameBangla" value="@Model.DivisionNameBangla" placeholder="Enter Division Name Bangla">
                </div>
                <div class="form-group">
                    <label for="inputGeoCode">Geo Code <span style="color:red;"></span></label>
                    <input type="text" class="form-control col-md-6" id="GeoCode" name="GeoCode" value="@Model.GeoCode" placeholder="Enter Geo Code">
                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary submit-btn pull-right">Submit</button>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="/Division/Index" class="btn btn-warning">Return to Index</a>
    </div>
</div>

<script>
    $(".submit-btn").on("click", function () {
        if ($("#divisionForm").valid()) {
            //Do something here
            $(".loader").fadeIn("slow");
        }
    });

    $("#divisionForm").validate({
        // Specify validation rules
        rules: {
            DivisionName: "required"
        },

    });


</script>